*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --colorDark: 230 35% 7%;
    --colorLight: 231 77% 90%;
    --colorWhite: 0 0% 100%;

    --font1: 'Bellefair', serif;
    --font2: 'Barlow Condensed', sans-serif;
    --font3: 'Barlow', sans-serif;
}


.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.font3 {
    font-family: var(--font3);
}

.colorDark {
    color: hsl(var(--colorDark));
}

.colorLight {
    color: hsl(var(--colorLight));
}

.colorWhite {
    color: hsl(var(--colorWhite));
}

.size14px {
    font-size: 1.4rem;
    letter-spacing: 2.35px;

}

.size16-20-28px {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
}

.size16-24-32px {
    font-size: 1.6rem;
    
}

.size24-40-56px {
    font-size: 2.4rem;
    
}

.size56-80-100px {
    font-size: 5.6rem;
    
}

.size80-150-150px {
    font-size: 8rem;
    
}

.marginB16-24-24px {
    margin-bottom: 16px;
}

body {
    
    width: 100%;
    height: 100%;
    background-image: url("./starter-code/assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNav{
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.desktopNav{

    width: 100%;
    height: 96px;
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.navSection {
    width: 450px;
    height: 100%;
    padding: 0px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font2);
    color: hsl(var(--colorWhite));
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    background-color: hsl(var(--colorWhite)/4%);

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: var(--font1);
    font-size: 1.5rem;
    color: hsl(var(--colorLight));
    text-align: center;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#mainIcon {
    background-image: url("./starter-code/assets/shared/logo.svg");
    height: 40px;
    width: 40px;
}

#menuIcon {
    background-image: url("./starter-code/assets/shared/icon-hamburger.svg");
    height: 21px;
    width: 24px;
}

#exploreButton {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: hsl(var(--colorWhite));
    font-size: 2rem;
    font-family: var(--font1);
    letter-spacing: 1.25px;
    margin-top: 81px;
    margin-bottom: 48px;
    border: none;
}