*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --colorDark: 230 35% 7%;
    --colorLight: 231 77% 90%;
    --colorWhite: 0 0% 100%;

    --font1: 'Bellefair', serif;
    --font2: 'Barlow Condensed', sans-serif;
    --font3: 'Barlow', sans-serif;
}


.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.font3 {
    font-family: var(--font3);
}

.colorDark {
    color: hsl(var(--colorDark));
}

.colorLight {
    color: hsl(var(--colorLight));
}

.colorWhite {
    color: hsl(var(--colorWhite));
}

.size14px {
    font-size: 1.4rem;
    letter-spacing: 2.35px;

}

.size16-20-28px {
    font-size: 1.6rem;
    letter-spacing: 2.7px;
}

.size16-24-32px {
    font-size: 1.6rem;
    
}

.size24-40-56px {
    font-size: 2.4rem;
    
}

.size56-80-100px {
    font-size: 5.6rem;
    
}

.size80-150-150px {
    font-size: 8rem;
    
}

.marginB16-24-24px {
    margin-bottom: 16px;
}

.marginB32-60-97px {
    margin-bottom: 32px;
}

.current {
    border-bottom: 3px solid hsl(var(--colorWhite));

}

body {
    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bodyHome {
    background-image: url("./starter-code/assets/home/background-home-mobile.jpg");
}

#bodyDestination {
    background-image: url("./starter-code/assets/destination/background-destination-mobile.jpg");
}

.mobileNav{
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.desktopNav{

    width: 100%;
    height: 96px;
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

}

.navIconSection {
    width: 100%;
    display: flex;
    align-items: center;
}

.navLine {
    display: none;
    width:90%;
    border-bottom: 1px solid hsl(var(--colorWhite)/25.25%);
    translate: 7.5%;
}

.navSection {
    width: 450px;
    min-width: 450px;
    height: 100%;
    padding: 0px 48px;
    padding-top: 34px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: var(--font2);
    color: hsl(var(--colorWhite));
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    background-color: hsl(var(--colorWhite)/4%);

}

.navPlanet {
    width: 237.5px;
    height: 28px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: var(--font2);
    color: hsl(var(--colorWhite));
    font-size: 1.4rem;
    letter-spacing: 2.36px;

}

.navSection div:hover, .navPlanet div:hover {
    cursor: pointer;
    border-bottom: 3px solid hsl(var(--colorWhite)/50.21%);

}

.navSection span {
 display: none;   
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thirdContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


p {
    font-family: var(--font3);
    font-size: 1.5rem;
    color: hsl(var(--colorLight));
    text-align: center;
    line-height: 25px;
}

.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

#mainIcon {
    background-image: url("./starter-code/assets/shared/logo.svg");
    height: 40px;
    width: 40px;
}

#menuIcon {
    background-image: url("./starter-code/assets/shared/icon-hamburger.svg");
    height: 21px;
    width: 24px;
}


#exploreButton {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: hsl(var(--colorWhite));
    font-size: 2rem;
    font-family: var(--font1);
    letter-spacing: 1.25px;
    margin-top: 81px;
    margin-bottom: 48px;
    border: none;
    cursor: pointer;
}

#exploreButton:hover {
    box-shadow: 0px 0px 0px 48px hsl(var(--colorWhite)/10.36%);
}


.content span {
    color: hsl(var(--colorWhite)/25%);
}

.planetImage {
    width: 170px;
    margin-bottom: 26px;
}

.title {
    text-align: center;
}

.spanNumber {
    color: hsl(var(--colorWhite)/25%);
    font-weight: bold;
}