
.size16-20-28px {
    font-size: 2rem;
    letter-spacing: 3.38px;
}

.size16-24-32px {
    font-size: 2.4rem;
    
}

.size24-40-56px {
    font-size: 4rem;
    
}

.size56-80-100px {
    font-size: 8rem;
    
}

.size80-150-150px {
    font-size: 15rem;
    
}

.marginB8-12-15px {
    margin-bottom: 8
    12px;
}

.marginB16-24-24px {
    margin-bottom: 24px;
}

.marginB32-60-0px {
    margin-bottom: 60px;
}

.marginB32-60-97px {
    margin-bottom: 60px;
}

.marginB32-49-54px {
    margin-bottom: 49px;
}

.desktopW445px {
    max-width: 700px;

}

.desktopW488px {
    max-width: 700px;

}

body {
    padding-left:39px;
    padding-right: 0px;
    background-size: cover;
}

#bodyHome {
    background-image: url("./assets/home/background-home-tablet.jpg");
}

#bodyDestination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
}

#bodyCrew {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
}

#bodyTechnology {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
}

main {
    padding-right: 39px;
}


.mobileNav{
    display: none;

}

.desktopNav{

    display: flex;

}

#mainIcon {
    height: 48px;
    width: 48px;
}



.content {
    width: 450px;
}

.secondContent {
    width: 100%;
}

p {
    font-size: 1.6rem;
    line-height: 28px;
}


.navPlanet {
    width: 285.5px;
    height: 34px;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    margin-bottom: 32px;

}

.navCrew {
    order:1;
}

#exploreButton {
    height: 274px;
    width: 274px;
    font-size: 3.2rem;
    letter-spacing: 2px;

}

#exploreButton:hover {
    box-shadow: 0px 0px 0px 68px hsl(var(--colorWhite)/10.36%);
}

.planetImage {
    width: 300px;
    margin-bottom: 53px;
}

.crewImage {
    height: 572px;
}

.title {
    align-self: flex-start;
}

.dataContainer {
    flex-direction: row;
    justify-content: space-around;

}

main a {
    height: 274px;
    width: 274px;
    margin-top: 156px;
    margin-bottom: 90px;
}

.activeMenu {
    display: none;
}

figure {
    border-bottom: none;
    order:1;
    margin-bottom: 0px;
}