.earth {
    font-size: 15rem;
}

.venus {
    font-size: 10rem;
}

.jupiterAndSaturn {
    font-size: 5.6rem;
}

.uranusNeptuneAndPluto {
    font-size: 3.2rem;
}

#travelToSpace {
    font-size: 2.8rem;
}


.typographyBlock1 p {
    font-size: 1.8rem;
}

.typographyBlock2 p {

    font-size: 1.8rem;
}

.text {

    font-size: 1.8rem;
}