*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --colorDark: 230 35% 7%;
    --colorLight: 231 77% 90%;
    --colorWhite: 0 0% 100%;

    --font1: 'Bellefair', serif;
    --font2: 'Barlow Condensed', sans-serif;
    --font3: 'Barlow', sans-serif;
}

body {
    line-height: 1.5;
    min-height: 100vh;
    color: hsl(var(--colorWhite));
    background-color: hsl(var(--colorDark));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font3);
    font-size: 1.8rem;
    padding: 64px 0px;
}

img, picture {
    max-width: 100%;
    display: block;
}


input, button, textarea, select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,*::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.grid {
    display: grid;
    gap: var(--gap, 1rem)
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 111.1rem;
    width: 77%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}



.bg-dark {
    background-color: hsl(var(--colorDark));
}

.bg-accent {
    background-color: hsl(var(--colorLight));
}

.bg-white {
    background-color: hsl(var(--colorWhite));
}

.text-dark {
    color: hsl(var(--colorDark));
}

.text-accent {
    color: hsl(var(--colorLight));
}

.text-white {
    color: hsl(var(--colorWhite));
}

#colors, #typography, #interactiveElements {
    margin-bottom: 148px;
}

.colorsContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.colorsContainer>div {
    width: 32%;
    font-family: var(--font3);
    font-size: 1.8rem;

}

.colorsContainer>div>div {
    height: 116px;
    margin-bottom: 16px;
    font-family: var(--font1);
    font-size: 2.4rem;
}

.colorsContainer span {
    position: absolute;
    left: -50px;

}

.colorsContainer p {
    position: relative;
    left: 50px;

}
.mainTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url("./assets/shared/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-family: var(--font2);
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 5px;
}

h2 {
    font-family: var(--font2);
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 48px;
}

.number {
    font-weight: bold;
    opacity: 25%;
    margin-right: 28px;
}

.typographyContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.typographyBlock1 {
    margin-right: 50px;
}

.typographyBlock1 p {
    color: hsl(var(--colorLight));
    font-family: var(--font3);
    font-size: 1.3rem;
}

.typographyBlock1 h1 {
    color:hsl(var(--colorWhite));
    font-family: var(--font1);
    font-weight: 400;
}

.earth {
    font-size: 7rem;
    margin-bottom: 24px;
}

.venus {
    font-size: 5.5rem;
    margin-bottom: 24px;
}

.jupiterAndSaturn {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.uranusNeptuneAndPluto {
    font-size: 1.5rem;
    margin-bottom: 48px;
}

#travelToSpace {
    font-size: 1.3rem;
    font-family: var(--font2);
    letter-spacing: 4.75px;
}

.typographyBlock2 p {
    color: hsl(var(--colorLight));
    font-family: var(--font3);
    font-size: 1.3rem;
}

.km {
    font-family: var(--font1);
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.distance {
    font-family: var(--font2);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.europa {
    font-family: var(--font2);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 40px;
}

#bodyText {
    opacity: 50%;
}

.text {
    font-family: var(--font3);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 40px;
}
.interactiveElementsContainer {
    height: 96px;
    background-color: hsl(var(--colorWhite)/4%);
    display: flex;
    justify-content: space-between;
    padding: 0px 25%; 
    font-family: var(--font2);
    font-size: 1.6rem;
    letter-spacing: 3px;

}

.interactiveElementsContainer span {
    font-weight: bold;
}

.interactiveElementsContainer div {
    display: flex;
    align-items: center;
}

.active {
    border-bottom:3px solid hsl(var(--colorWhite));
}

.hovered {
    border-bottom:3px solid hsl(var(--colorWhite)/52.21%);
}

.idle {
    border-bottom:3px solid hsl(var(--colorWhite)/0%);
}